---
---

@import "main.scss";

body {
    font-family: 'Alegreya', serif;
}

#content {
    max-width: 720px;
}

#test-btn {
    margin-top: 1rem;
}

.test-results {
    font-style: italic;
    display: none;
}

.page-header {
    background-image: linear-gradient(120deg, wheat, goldenrod);
    color: black;
}

.page-header .container {
    position: absolute;
    top: 55%;
    right: 5%;
}

.project-name span, .project-tagline span {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.project-tagline span {
    font-size: larger;
}

@media screen and (max-width: 42em) {
    .page-header .container {
        position: absolute;
        top: 70%;
        right: 3%;
    }    
    nav .main-content {
        padding: 1rem 1rem;
    }    
}

@media screen and (min-width: 64em) {
    nav .main-content {
        padding: 1rem 6rem;
    }    
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    nav .main-content {
        padding: 1rem 4rem;
    }    
}

#jumbotron {
    height: 90vh;
    background-color: wheat;
    background-image: url(/assets/img/alisa_gong.jpg);
    background-position: center;
    background-size: cover;
    text-align: right;
}

.accordion {
    margin-bottom: 1rem;
}

h2.accordion-header {
    margin-bottom: unset;
}