---
---

@import "{{ site.theme }}";

.main-content input:first-child {
    margin-top: revert;
}

.btn {
    color: black;
    background-color: skyblue;
    margin-top: 1rem;
}

.btn:hover {
    color: white;
    background-color: #1e6bb8;
}

.form-check-input:checked {
    background-color: skyblue;
    border-color: skyblue;
}

.test-results {
    font-style: italic;
    display: none;
}